.feature-area {
    background-color: #f2f2f2;
    position: relative;
    &:after{
        position: absolute;
        content: "";
        background-image: url('../../img/features/feature-1.jpg');
        width: 45%;
        height: 100%;
        right: 0;
        top: 0;
        background-position: center;
        background-size: cover;
    }
}
.feature {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5%;
    .features-box {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        grid-gap: 30px;
        .signle-feature {
            margin-bottom: 30px;
            h4{
                text-transform: capitalize;
                margin: 10px 0;
            }
        }
    }
}